<ion-view view-title="Musician Sign Up"  title="Musician Sign Up">
    <ion-nav-bar class="bar-balanced bar-custom-tunent">
        <!--<ion-nav-back-button transitiontype="slide" direction="right" go-native></ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <input ng-click="gotoAppSettings()" style="width: 40px" type="image" src="./img/logo%20(1).png" alt="Submit">
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="background-image"></div>
        <div class="wrapper">
            <div id="tust1" class="row row-center">
                <div class="col">
                    <button style="border-radius: 10px;font-weight: bold;font-size: large" class="button button-block button-outline button-light">
                        Connect Via Facebook
                    </button>
                </div>
            </div>
            <div id="bust1" class="row row-bottom">
                <div class="col">
                    <button style="border-radius: 10px;font-weight: bold;font-size: large" class="button button-block button-outline button-light">
                        Connect Via Soundcloud
                    </button>
                </div>
            </div>
            <div id="infocard" class="row row-bottom">
                <div style="text-align: center; margin-left: auto;margin-right: auto;     background: rgba(255,255,255,.7);" class="card">
                    <div style="background-color: transparent" class="item item-text-wrap">
                        <h2>Know your fanbase with Tunent</h2>
                        <p>
                            <div>
                        Get noticed
                    </div>
                        <div>Sign up and share your tracks with Tunent's Music lovers</div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>