<ion-view view-title="Login">
<ion-content scroll="false">
    <div class="background-image"></div>
    <div class="wrapper">
        <div id="ico" class="row">
            <div class="col">
            </div>
            <div class="col">
                <img width="50%" height="auto" src="./img/logo%20(1).png">
            </div>
            <div class="col"></div>
        </div>
        <div id="tust" class="row row-center">

            <div class="col">
                <button ui-sref="settings.index" class="button button-outline button-calm" transitiontype="slide" direction="left" go-native>Login via Facebook</button>
            </div>
        </div>
        <div id="bust" class="row row-bottom">
            <div class="col">
                <button ui-sref="artistlogin" class="button button-outline button-positive">I'm a musician</button>
            </div>
        </div>
    </div>
    </ion-content>
</ion-view>